<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>To Do List</title>
  </head>
  <%- include("partials/header.ejs") %>
  <body>
    <h1 class="header">
      One simple To-Do List <br />
      for you
    </h1>
    <p class="app-description">
      Welcome to our To-Do List web app! <br />
      Stay organized and manage your tasks effortlessly. <br />
      Create, update, and mark off your to-dos as you go.
    </p>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
